apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: devlake-encryption-secret
  namespace: {{ .Values.namespace | default "devlake" }}
  annotations:
    argocd.argoproj.io/sync-wave: "-3"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  secretStoreRef:
    name: aws-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: "1h"
  target:
    name: devlake-encryption-secret
    creationPolicy: Owner
    deletionPolicy: Retain
  data:
    - secretKey: ENCRYPTION_SECRET
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: {{ .Values.clusterName }}/secrets
        property: devlake_encryption_secret
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mysql-passwords
  namespace: {{ .Values.namespace | default "devlake" }}
  annotations:
    argocd.argoproj.io/sync-wave: "-3"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secrets-manager
    kind: ClusterSecretStore
  target:
    name: mysql-passwords
    creationPolicy: Owner
  data:
  - secretKey: GRAFANA_MYSQL_PASSWORD
    remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      metadataPolicy: None
      key: {{ .Values.clusterName }}/secrets
      property: grafana_mysql_password
  - secretKey: DEVLAKE_MYSQL_PASSWORD
    remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      metadataPolicy: None
      key: {{ .Values.clusterName }}/secrets
      property: devlake_mysql_password
---
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: devlake-mysql-endpoint-push
  namespace: {{ .Values.namespace | default "devlake" }}
  annotations:
    argocd.argoproj.io/sync-wave: "5"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  refreshInterval: 30s
  secretStoreRefs:
  - name: aws-secrets-manager
    kind: ClusterSecretStore
  selector:
    secret:
      name: devlake-mysql-auth
  data:
  - conversionStrategy: None
    match:
      secretKey: EXTERNAL_URL
      remoteRef:
        remoteKey: peeks-devlake/mysql-connection
        property: db_url
  - conversionStrategy: None
    match:
      secretKey: MYSQL_ROOT_PASSWORD
      remoteRef:
        remoteKey: peeks-devlake/mysql-connection
        property: root_password


