{{- if .Values.providers.aws.enabled }}
---
apiVersion: iam.aws.upbound.io/v1beta1
kind: Role
metadata:
  name: crossplane-provider-aws-role
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  providerConfigRef:
    name: provider-aws-config
  forProvider:
    assumeRolePolicy: |
      {
        "Version": "2012-10-17",
        "Statement": [
          {
            "Effect": "Allow",
            "Principal": {
              "Service": "pods.eks.amazonaws.com"
            },
            "Action": [
              "sts:AssumeRole",
              "sts:TagSession"
            ]
          }
        ]
      }
    managedPolicyArns:
      - "arn:aws:iam::aws:policy/PowerUserAccess"
    tags:
      Name: "crossplane-provider-aws-role"
      Environment: "{{ .Values.global.environment | default "dev" }}"
---
apiVersion: eks.aws.upbound.io/v1beta1
kind: PodIdentityAssociation
metadata:
  name: crossplane-provider-aws-podidentity
  annotations:
    argocd.argoproj.io/sync-wave: "10"
spec:
  providerConfigRef:
    name: provider-aws-config
  forProvider:
    clusterName: "{{ .Values.global.clusterName }}"
    namespace: "{{ .Values.namespace | default "crossplane-system" }}"
    region: "{{ .Values.aws.region }}"
    roleArnRef:
      name: crossplane-provider-aws-role
    serviceAccount: provider-aws
{{- end }}
