{{- if .Values.huggingfaceModels }}
{{- $resourcePrefix := "peeks" }}
{{- $accountId := "123456789012" }}
{{- $region := "us-west-2" }}
{{- $clusterName := "peeks-hub" }}
{{- if .Values.global }}
{{- $resourcePrefix = .Values.global.resourcePrefix | default "peeks" }}
{{- $accountId = .Values.global.accountId | default "123456789012" }}
{{- $region = .Values.global.region | default "us-west-2" }}
{{- $clusterName = .Values.global.clusterName | default "peeks-hub" }}
{{- end }}
{{- range .Values.huggingfaceModels }}
---
apiVersion: kro.run/v1alpha1
kind: HuggingFaceModel
metadata:
  name: {{ .name }}
  namespace: {{ .namespace | default "ray-system" }}
  annotations:
    argocd.argoproj.io/sync-wave: "10"
spec:
  modelId: {{ .modelId | quote }}
  s3Bucket: {{ printf "%s-ray-models-%v" $resourcePrefix $accountId | quote }}
  namespace: {{ .namespace | default "ray-system" }}
  serviceAccount: {{ .serviceAccount | default "model-download-sa" }}
  accountId: {{ $accountId | quote }}
  region: {{ $region | quote }}
  clusterName: {{ $clusterName | quote }}
{{- end }}
{{- end }}
