apiVersion: kro.run/v1alpha1
kind: AppmodService
metadata:
  name: next-js-app
  namespace: team-nextjs
spec:
  image: public.ecr.aws/a0m0j3q7/modernengg/nextjs-ui:latest
  image_name: next-js-app
  replicas: 1
  port: 8080
  targetPort: 8080
  serviceAccount: nextjs-service-account
  clusterName: peeks-spoke-dev
  accountId: "785349965618"
  env:
    - name: API_BASE_URL
      value: "http://rust-microservice.team-rust.svc.cluster.local:8080"
  components:
    dynamodb:
      enabled: false
  ingress:
    enabled: true
    path: /unicorn
    rewrite: false
---
apiVersion: v1
kind: Service
metadata:
  name: next-js-app
  namespace: team-nextjs
spec:
  selector:
    app: next-js-app
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: next-js-app-preview
  namespace: team-nextjs
spec:
  selector:
    app: next-js-app
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
