---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: eso-store
  namespace: argocd
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: eso-store
  namespace: argocd
rules:
  - apiGroups: [""]
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - authorization.k8s.io
    resources:
      - selfsubjectrulesreviews
    verbs:
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: eso-store
  namespace: argocd
subjects:
  - kind: ServiceAccount
    name: eso-store
    namespace: argocd
roleRef:
  kind: Role
  name: eso-store
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: argocd
spec:
  provider:
    kubernetes:
      remoteNamespace: argocd
      server:
        caProvider:
          type: ConfigMap
          name: kube-root-ca.crt
          namespace: argocd
          key: ca.crt
      auth:
        serviceAccount:
          name: eso-store
          namespace: argocd
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: argocd-credentials
  namespace: backstage
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  secretStoreRef:
    name: aws-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: "0"
  target:
    name: argocd-credentials
    creationPolicy: Owner
    deletionPolicy: Retain
  data:
    - secretKey: ARGOCD_ADMIN_PASSWORD
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: {{ .Values.global.aws_cluster_name }}/secrets
        metadataPolicy: None
        property: user_password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: git-credentials
  namespace: backstage
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  secretStoreRef:
    name: aws-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: "1h"
  target:
    name: git-credentials
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      engineVersion: v2
      mergePolicy: Replace
      data:
        GIT_HOSTNAME: "{{ .Values.gitlab_domain_name }}"
        GIT_USERNAME: "{{ .Values.git_username }}"
        GIT_PASSWORD: "{{ `{{.GIT_PASSWORD}}` }}"
        WORKING_REPO: "{{ .Values.working_repo }}"
  data:
    - secretKey: GIT_PASSWORD
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: {{ .Values.global.aws_cluster_name }}/secrets
        metadataPolicy: None
        property: git_token
