---
apiVersion: v1
kind: Namespace
metadata:
  name: kubeflow
  labels:
    istio-injection: enabled
    katib.kubeflow.org/metrics-collector-injection: enabled
  annotations:
    argocd.argoproj.io/sync-wave: "1"