apiVersion: kro.run/v1alpha1
kind: AppmodService
metadata:
  name: java-webservice
  namespace: team-java
spec:
  image: 073931178476.dkr.ecr.us-west-2.amazonaws.com/peeks/java:initial
  image_name: java-app
  port: 8080
  targetPort: 8080
  clusterName: peeks-spoke-dev
  envName: "DEV"
  env: []
  ingress:
    enabled: true
    path: /java-app
    rewrite: true
  functionalGate:
    enabled: true
    pause: "10s"
    image: "httpd:alpine"
    extraArgs: "red"
  performanceGate:
    enabled: true
    pause: "10s"
    image: "httpd:alpine"
    extraArgs: "160"
  metrics:
    enabled: true
