# MLflow configuration matching community chart schema
replicaCount: 1

image:
  repository: burakince/mlflow
  pullPolicy: IfNotPresent
  tag: ""

service:
  enabled: true
  type: ClusterIP
  port: 80
  name: http
  containerPort: 5000
  containerPortName: mlflow

ingress:
  enabled: true
  className: nginx
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/use-regex: 'true'
    nginx.ingress.kubernetes.io/proxy-body-size: '0'
    nginx.ingress.kubernetes.io/proxy-read-timeout: '600'
    nginx.ingress.kubernetes.io/proxy-send-timeout: '600'
  hosts:
    - host: chart-example.local
      paths:
        - path: /mlflow(/|$)(.*)
          pathType: ImplementationSpecific

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 200m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3

backendStore:
  databaseMigration: false
  databaseConnectionCheck: false

artifactRoot:
  defaultArtifactRoot: "./mlruns"
  defaultArtifactsDestination: "./mlartifacts"

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  privileged: false
  runAsUser: 1001
  runAsGroup: 1001

podSecurityContext:
  fsGroup: 1001
  fsGroupChangePolicy: "OnRootMismatch"
