{{- if .Values.compositions.enabled }}
---
apiVersion: apiextensions.crossplane.io/v1
kind: CompositeResourceDefinition
metadata:
  name: xbuckets.storage.example.com
  annotations:
    argocd.argoproj.io/sync-wave: "6"
spec:
  group: storage.example.com
  names:
    kind: XBucket
    plural: xbuckets
  versions:
  - name: v1alpha1
    served: true
    referenceable: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              bucketName:
                type: string
                description: Name of the S3 bucket
              region:
                type: string
                description: AWS region for the bucket
                default: "us-east-1"
              versioning:
                type: boolean
                description: Enable versioning on the bucket
                default: false
          status:
            type: object
            properties:
              bucketArn:
                type: string
                description: ARN of the created bucket
---
apiVersion: apiextensions.crossplane.io/v1
kind: Composition
metadata:
  name: s3-bucket-composition
  labels:
    provider: aws
    service: s3
  annotations:
    argocd.argoproj.io/sync-wave: "7"
spec:
  compositeTypeRef:
    apiVersion: storage.example.com/v1alpha1
    kind: XBucket
  resources:
  - name: s3-bucket
    base:
      apiVersion: s3.aws.upbound.io/v1beta1
      kind: Bucket
      spec:
        forProvider:
          region: us-east-1
        providerConfigRef:
          name: provider-aws-config
    patches:
    - type: FromCompositeFieldPath
      fromFieldPath: spec.bucketName
      toFieldPath: metadata.name
    - type: FromCompositeFieldPath
      fromFieldPath: spec.bucketName
      toFieldPath: spec.forProvider.bucket
    - type: FromCompositeFieldPath
      fromFieldPath: spec.region
      toFieldPath: spec.forProvider.region
    - type: ToCompositeFieldPath
      fromFieldPath: status.atProvider.arn
      toFieldPath: status.bucketArn
  - name: s3-bucket-versioning
    base:
      apiVersion: s3.aws.upbound.io/v1beta1
      kind: BucketVersioning
      spec:
        forProvider:
          versioningConfiguration:
          - status: Disabled
        providerConfigRef:
          name: provider-aws-config
    patches:
    - type: FromCompositeFieldPath
      fromFieldPath: spec.bucketName
      toFieldPath: spec.forProvider.bucket
    - type: FromCompositeFieldPath
      fromFieldPath: spec.versioning
      toFieldPath: spec.forProvider.versioningConfiguration[0].status
      transforms:
      - type: map
        map:
          true: "Enabled"
          false: "Disabled"
---
apiVersion: apiextensions.crossplane.io/v1
kind: CompositeResourceDefinition
metadata:
  name: xdynamodbtables.database.example.com
  annotations:
    argocd.argoproj.io/sync-wave: "6"
spec:
  group: database.example.com
  names:
    kind: XDynamoDBTable
    plural: xdynamodbtables
  versions:
  - name: v1alpha1
    served: true
    referenceable: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              tableName:
                type: string
                description: Name of the DynamoDB table
              hashKey:
                type: string
                description: Hash key for the table
              billingMode:
                type: string
                description: Billing mode for the table
                default: "PAY_PER_REQUEST"
                enum: ["PAY_PER_REQUEST", "PROVISIONED"]
          status:
            type: object
            properties:
              tableArn:
                type: string
                description: ARN of the created table
---
apiVersion: apiextensions.crossplane.io/v1
kind: Composition
metadata:
  name: dynamodb-table-composition
  labels:
    provider: aws
    service: dynamodb
  annotations:
    argocd.argoproj.io/sync-wave: "7"
spec:
  compositeTypeRef:
    apiVersion: database.example.com/v1alpha1
    kind: XDynamoDBTable
  resources:
  - name: dynamodb-table
    base:
      apiVersion: dynamodb.aws.upbound.io/v1beta1
      kind: Table
      spec:
        forProvider:
          billingMode: PAY_PER_REQUEST
          attribute:
          - name: id
            type: S
          hashKey: id
        providerConfigRef:
          name: provider-aws-config
    patches:
    - type: FromCompositeFieldPath
      fromFieldPath: spec.tableName
      toFieldPath: metadata.name
    - type: FromCompositeFieldPath
      fromFieldPath: spec.tableName
      toFieldPath: spec.forProvider.name
    - type: FromCompositeFieldPath
      fromFieldPath: spec.hashKey
      toFieldPath: spec.forProvider.hashKey
    - type: FromCompositeFieldPath
      fromFieldPath: spec.hashKey
      toFieldPath: spec.forProvider.attribute[0].name
    - type: FromCompositeFieldPath
      fromFieldPath: spec.billingMode
      toFieldPath: spec.forProvider.billingMode
    - type: ToCompositeFieldPath
      fromFieldPath: status.atProvider.arn
      toFieldPath: status.tableArn
{{- end }}
