{{- if .Values.compositions }}
{{- if .Values.compositions.enabled }}
# Example S3 Bucket Composite Resource Definition
apiVersion: apiextensions.crossplane.io/v1
kind: CompositeResourceDefinition
metadata:
  name: xbuckets.platform.example.com
  namespace: crossplane-system
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  group: platform.example.com
  names:
    kind: XBucket
    plural: xbuckets
  claimNames:
    kind: Bucket
    plural: buckets
  versions:
  - name: v1alpha1
    served: true
    referenceable: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              parameters:
                type: object
                properties:
                  bucketName:
                    type: string
                    description: Name of the S3 bucket
                  region:
                    type: string
                    description: AWS region for the bucket
                    default: us-west-2
                  versioning:
                    type: boolean
                    description: Enable versioning on the bucket
                    default: false
                required:
                - bucketName
            required:
            - parameters
          status:
            type: object
            properties:
              bucketArn:
                type: string
                description: ARN of the created S3 bucket
---
# Example S3 Bucket Composition
apiVersion: apiextensions.crossplane.io/v1
kind: Composition
metadata:
  name: s3-bucket-composition
  namespace: crossplane-system
  annotations:
    argocd.argoproj.io/sync-wave: "5"
  labels:
    provider: aws
    service: s3
spec:
  compositeTypeRef:
    apiVersion: platform.example.com/v1alpha1
    kind: XBucket
  
  functions:
  - name: create-s3-bucket
    type: function
    step: create-bucket
    input:
      apiVersion: pt.fn.crossplane.io/v1beta1
      kind: Resources
      resources:
      - name: s3-bucket
        base:
          apiVersion: s3.aws.upbound.io/v1beta1
          kind: Bucket
          spec:
            forProvider:
              region: us-west-2
            providerConfigRef:
              name: provider-aws-config
        patches:
        - type: FromCompositeFieldPath
          fromFieldPath: spec.parameters.bucketName
          toFieldPath: metadata.name
        - type: FromCompositeFieldPath
          fromFieldPath: spec.parameters.bucketName
          toFieldPath: spec.forProvider.bucket
        - type: FromCompositeFieldPath
          fromFieldPath: spec.parameters.region
          toFieldPath: spec.forProvider.region
        - type: ToCompositeFieldPath
          fromFieldPath: status.atProvider.arn
          toFieldPath: status.bucketArn
      
      - name: s3-bucket-versioning
        base:
          apiVersion: s3.aws.upbound.io/v1beta1
          kind: BucketVersioning
          spec:
            forProvider:
              versioningConfiguration:
              - status: Enabled
            providerConfigRef:
              name: provider-aws-config
        patches:
        - type: FromCompositeFieldPath
          fromFieldPath: spec.parameters.bucketName
          toFieldPath: spec.forProvider.bucket
        - type: FromCompositeFieldPath
          fromFieldPath: spec.parameters.versioning
          toFieldPath: spec.forProvider.versioningConfiguration[0].status
          transforms:
          - type: map
            map:
              true: Enabled
              false: Suspended
---
# Example DynamoDB Table Composite Resource Definition
apiVersion: apiextensions.crossplane.io/v1
kind: CompositeResourceDefinition
metadata:
  name: xtables.platform.example.com
  namespace: crossplane-system
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  group: platform.example.com
  names:
    kind: XTable
    plural: xtables
  claimNames:
    kind: Table
    plural: tables
  versions:
  - name: v1alpha1
    served: true
    referenceable: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              parameters:
                type: object
                properties:
                  tableName:
                    type: string
                    description: Name of the DynamoDB table
                  hashKey:
                    type: string
                    description: Hash key for the table
                  billingMode:
                    type: string
                    description: Billing mode for the table
                    default: PAY_PER_REQUEST
                    enum:
                    - PAY_PER_REQUEST
                    - PROVISIONED
                required:
                - tableName
                - hashKey
            required:
            - parameters
          status:
            type: object
            properties:
              tableArn:
                type: string
                description: ARN of the created DynamoDB table
---
# Example DynamoDB Table Composition
apiVersion: apiextensions.crossplane.io/v1
kind: Composition
metadata:
  name: dynamodb-table-composition
  namespace: crossplane-system
  annotations:
    argocd.argoproj.io/sync-wave: "5"
  labels:
    provider: aws
    service: dynamodb
spec:
  compositeTypeRef:
    apiVersion: platform.example.com/v1alpha1
    kind: XTable
  
  functions:
  - name: create-dynamodb-table
    type: function
    step: create-table
    input:
      apiVersion: pt.fn.crossplane.io/v1beta1
      kind: Resources
      resources:
      - name: dynamodb-table
        base:
          apiVersion: dynamodb.aws.upbound.io/v1beta1
          kind: Table
          spec:
            forProvider:
              billingMode: PAY_PER_REQUEST
              attribute:
              - name: id
                type: S
              hashKey: id
            providerConfigRef:
              name: provider-aws-config
        patches:
        - type: FromCompositeFieldPath
          fromFieldPath: spec.parameters.tableName
          toFieldPath: metadata.name
        - type: FromCompositeFieldPath
          fromFieldPath: spec.parameters.tableName
          toFieldPath: spec.forProvider.name
        - type: FromCompositeFieldPath
          fromFieldPath: spec.parameters.hashKey
          toFieldPath: spec.forProvider.hashKey
        - type: FromCompositeFieldPath
          fromFieldPath: spec.parameters.hashKey
          toFieldPath: spec.forProvider.attribute[0].name
        - type: FromCompositeFieldPath
          fromFieldPath: spec.parameters.billingMode
          toFieldPath: spec.forProvider.billingMode
        - type: ToCompositeFieldPath
          fromFieldPath: status.atProvider.arn
          toFieldPath: status.tableArn
{{- end }}
{{- end }}