apiVersion: v1
kind: Namespace
metadata:
  name: crossplane-system
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: crossplane
  namespace: crossplane-system
  annotations:
    argocd.argoproj.io/sync-wave: "0"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: crossplane
  annotations:
    argocd.argoproj.io/sync-wave: "0"
rules:
- apiGroups: [""]
  resources: ["*"]
  verbs: ["*"]
- apiGroups: ["extensions"]
  resources: ["*"]
  verbs: ["*"]
- apiGroups: ["apps"]
  resources: ["*"]
  verbs: ["*"]
- apiGroups: ["apiextensions.k8s.io"]
  resources: ["*"]
  verbs: ["*"]
- apiGroups: ["pkg.crossplane.io"]
  resources: ["*"]
  verbs: ["*"]
- apiGroups: ["apiextensions.crossplane.io"]
  resources: ["*"]
  verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: crossplane
  annotations:
    argocd.argoproj.io/sync-wave: "0"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: crossplane
subjects:
- kind: ServiceAccount
  name: crossplane
  namespace: crossplane-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: crossplane
  namespace: crossplane-system
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  labels:
    app: crossplane
    release: crossplane
spec:
  replicas: 1
  selector:
    matchLabels:
      app: crossplane
      release: crossplane
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: crossplane
        release: crossplane
    spec:
      serviceAccountName: crossplane
      initContainers:
      - image: crossplane/crossplane:v1.17.1
        args:
        - core
        - init
        imagePullPolicy: IfNotPresent
        name: crossplane-init
        resources:
          limits:
            cpu: 100m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsGroup: 65532
          runAsUser: 65532
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_SERVICE_ACCOUNT
          valueFrom:
            fieldRef:
              fieldPath: spec.serviceAccountName
      containers:
      - image: crossplane/crossplane:v1.17.1
        args:
        - core
        - start
        {{- if .Values.args }}
        {{- range .Values.args }}
        - {{ . }}
        {{- end }}
        {{- end }}
        imagePullPolicy: IfNotPresent
        name: crossplane
        ports:
        - name: webhooks
          containerPort: 9443
        resources:
          limits:
            cpu: 100m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsGroup: 65532
          runAsUser: 65532
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_SERVICE_ACCOUNT
          valueFrom:
            fieldRef:
              fieldPath: spec.serviceAccountName
        - name: LEADER_ELECTION
          value: "true"
        volumeMounts:
        - mountPath: /cache
          name: package-cache
        - mountPath: /tmp
          name: tmp
      volumes:
      - name: package-cache
        emptyDir:
          sizeLimit: 5Mi
      - name: tmp
        emptyDir:
          sizeLimit: 5Mi
---
apiVersion: v1
kind: Service
metadata:
  name: crossplane-webhooks
  namespace: crossplane-system
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  ports:
  - name: webhooks
    port: 443
    protocol: TCP
    targetPort: webhooks
  selector:
    app: crossplane
    release: crossplane