{{- if .Values.providers.aws.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: crossplane-aws-provider
  namespace: {{ .Values.namespace | default "crossplane-system" }}
  annotations:
    {{- if .Values.aws.irsaRoleArn }}
    eks.amazonaws.com/role-arn: {{ .Values.aws.irsaRoleArn }}
    {{- else }}
    eks.amazonaws.com/role-arn: "{{ `{{ .Values.cluster.annotations.crossplane_irsa_role_arn }}` }}"
    {{- end }}
    argocd.argoproj.io/sync-wave: "2"
---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: aws-irsa-drc
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  deploymentTemplate:
    spec:
      selector: {}
      template:
        spec:
          serviceAccountName: crossplane-aws-provider
          containers:
          - name: package-runtime
            args:
            - --debug
---
apiVersion: aws.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: provider-aws-config
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  credentials:
    source: IRSA
{{- end }}
