global:
  resourcePrefix: ""

images:
  - public.ecr.aws/seb-demo/ray:2.49.0-py311-gpu
  - jupyter/base-notebook:latest
  - jupyter/datascience-notebook:latest

nodeSelector: {}
tolerations: []
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi
