# Debug version 4 - EventBus only
---
apiVersion: kro.run/v1alpha1
kind: ResourceGraphDefinition
metadata:
  name: cicdpipeline-debug4.kro.run
  namespace: kro-system
spec:
  schema:
    apiVersion: v1alpha1
    kind: CICDPipelineDebug4
    spec:
      name: string
      application:
        name: string

  resources:
    # EventBus in argo-events namespace
    - id: eventbus
      template:
        apiVersion: argoproj.io/v1alpha1
        kind: EventBus
        metadata:
          name: ${schema.spec.name}-eventbus
          namespace: argo-events
          labels:
            app.kubernetes.io/name: ${schema.spec.application.name}
            app.kubernetes.io/component: cicd-pipeline
            app.kubernetes.io/managed-by: kro
        spec:
          nats:
            native:
              replicas: 1
              auth: token
