# Debug version 3 - ECR Repository test
---
apiVersion: kro.run/v1alpha1
kind: ResourceGraphDefinition
metadata:
  name: cicdpipeline-debug3.kro.run
  namespace: kro-system
spec:
  schema:
    apiVersion: v1alpha1
    kind: CICDPipelineDebug3
    spec:
      name: string
      namespace: string
      aws:
        resourcePrefix: string
      application:
        name: string

  resources:
    # ECR Repository test
    - id: ecrmainrepo
      template:
        apiVersion: ecr.services.k8s.aws/v1alpha1
        kind: Repository
        metadata:
          name: ${schema.spec.aws.resourcePrefix}-${schema.spec.application.name}-main
          namespace: ${schema.spec.namespace}
        spec:
          name: ${schema.spec.aws.resourcePrefix}-${schema.spec.application.name}-main
          imageScanningConfiguration:
            scanOnPush: true
          imageTagMutability: MUTABLE
