# EventBus for Argo Events - managed separately from KRO
---
apiVersion: argoproj.io/v1alpha1
kind: EventBus
metadata:
  name: default
  namespace: ${{values.namespace}}
spec:
  jetstream:
    version: latest
    replicas: 3
