apiVersion: core.oam.dev/v1beta1
kind: ComponentDefinition
metadata:
  annotations:
    definition.oam.dev/alias: ""
    definition.oam.dev/description: DynamoDB Table ACK
  name: ddb-table
  namespace: vela-system
spec:
  schematic:
    cue:
      template: |
        output: {
          apiVersion: "dynamodb.services.k8s.aws/v1alpha1"
          kind:       "Table"
          metadata: {
            name: "\(parameter.name)"
            annotations: "services.k8s.aws/region": "\(parameter.region)"
          }
          spec: {
            tableName: "\(parameter.name)"
            attributeDefinitions: [
              {
                attributeName: "\(parameter.attributeName)"
                attributeType: "\(parameter.attributeType)"
              }
            ]
            keySchema: [
              {
                attributeName: "\(parameter.attributeName)"
                keyType:      "HASH"
              }
            ]
            billingMode: "PAY_PER_REQUEST"
          }
        }
        parameter: {
          name:          string
          region:        string
          attributeName: string
          attributeType: string
        }
  workload:
    definition:
      apiVersion: apps/v1
      kind: Deployment