controller:
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      memory: 1Gi
  priorityClassName: system-cluster-critical

server:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      memory: 512Mi
  priorityClassName: system-cluster-critical
