controller:
  replicas: 2
  pdb:
    enabled: true
    maxUnavailable: 1
  nodeSelector:
    karpenter.sh/nodepool: system
  tolerations:
    - key: "CriticalAddonsOnly"
      operator: "Exists"
      effect: "NoSchedule"
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      memory: 1Gi
  priorityClassName: system-cluster-critical

server:
  replicas: 2
  pdb:
    enabled: true
    maxUnavailable: 1
  nodeSelector:
    karpenter.sh/nodepool: system
  tolerations:
    - key: "CriticalAddonsOnly"
      operator: "Exists"
      effect: "NoSchedule"
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      memory: 512Mi
  priorityClassName: system-cluster-critical
