apiVersion: core.oam.dev/v1beta1
kind: ComponentDefinition
metadata:
  annotations:
    definition.oam.dev/alias: ""
    definition.oam.dev/description: External secret for RDS or standalone relational database instance
  name: external-database-secret
spec:
  schematic:
    cue:
      template: |
        output: {
        	apiVersion: "external-secrets.io/v1beta1"
        	kind:       "ExternalSecret"
        	metadata: {
        		name: context.name
        	}
        	spec: {
        		refreshInterval: "15s"
        		secretStoreRef: {
        			name: parameter.secretStore
        			kind: "SecretStore"
        		}
        		target: {
        			name: context.name
        			creationPolicy: "Owner"
        		}
        		data: [
        			{
        				secretKey: "username"
        				remoteRef: {
        					key: parameter.secretName
        					property: "username"
        				}
        			},
        			{
        				secretKey: "password"
        				remoteRef: {
        					key: parameter.secretName
        					property: "password"
        				}
        			},
        		]
        	}
        }
        
        parameter: {
        	// +usage=The name of the secret in AWS Secrets Manager
        	secretName: string
        	// +usage=The name of the SecretStore to use
        	secretStore: *"default-secret-store" | string
        }
