apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: platform-gitops-repo
  namespace: flux-system
  annotations:
    argocd.argoproj.io/sync-wave: "6"
spec:
  interval: 1m
  ref:
    branch: main
  url: {{ .Values.gitRepository.url | default "https://github.com/aws-samples/appmod-blueprints.git" | quote }}
  {{- if .Values.gitRepository.secretRef }}
  secretRef:
    name: {{ .Values.gitRepository.secretRef.name | default "flux-git-credentials" | quote }}
  {{- end }}
  timeout: 60s
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: workloads-gitops-repo
  namespace: flux-system
  annotations:
    argocd.argoproj.io/sync-wave: "6"
spec:
  interval: 5m
  ref:
    branch: {{ .Values.workloadsRepository.branch | default "main" | quote }}
  url: {{ .Values.workloadsRepository.url | default "https://github.com/aws-samples/appmod-blueprints.git" | quote }}
  {{- if .Values.workloadsRepository.secretRef }}
  secretRef:
    name: {{ .Values.workloadsRepository.secretRef.name | default "flux-git-credentials" | quote }}
  {{- end }}
  timeout: 60s
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: platform-addons
  namespace: flux-system
  annotations:
    argocd.argoproj.io/sync-wave: "7"
spec:
  interval: 10m
  path: {{ .Values.platformAddons.path | default "./gitops/addons" | quote }}
  prune: true
  sourceRef:
    kind: GitRepository
    name: platform-gitops-repo
  timeout: 5m
  {{- if .Values.platformAddons.targetNamespace }}
  targetNamespace: {{ .Values.platformAddons.targetNamespace | quote }}
  {{- end }}
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: workloads
  namespace: flux-system
  annotations:
    argocd.argoproj.io/sync-wave: "8"
spec:
  interval: 10m
  path: {{ .Values.workloads.path | default "./gitops/workloads" | quote }}
  prune: true
  sourceRef:
    kind: GitRepository
    name: workloads-gitops-repo
  timeout: 5m
  {{- if .Values.workloads.targetNamespace }}
  targetNamespace: {{ .Values.workloads.targetNamespace | quote }}
  {{- end }}
