crossplane:
  image:
    tag: v1.17.1
  webhooks:
    enabled: true
  args:
    - --debug
    - --enable-environment-configs

# AWS configuration for IRSA integration
aws:
  irsaRoleArn: ""

# Provider configuration
providers:
  aws:
    familyVersion: "v1.14.0"
    s3Version: "v1.14.0"
    dynamodbVersion: "v1.13.1"
    apigatewayv2Version: "v1.13.1"
    eksVersion: "v1.13.1"
    iamVersion: "v1.13.1"
    lambdaVersion: "v1.13.0"
    rdsVersion: "v1.13.1"
    runtimeConfigRef: "aws-irsa-drc"

compositions:
  enabled: false

namespace: crossplane-system
