crossplane:
  image:
    tag: v1.17.1
  webhooks:
    enabled: true
  args:
    - --debug
    - --enable-environment-configs

# Disable custom resources - they're now in crossplane-aws
providers:
  aws:
    enabled: false

compositions:
  enabled: false

namespace: crossplane-system
