vela-core:
  nodeSelector:
    karpenter.sh/nodepool: system-peeks
  tolerations:
    - key: "CriticalAddonsOnly"
      operator: "Exists"
      effect: "NoSchedule"
  workflow:
    backoff:
      maxTime:
        failedState: 180
    step:
      errorRetryTimes: 15

cluster-gateway:
  nodeSelector:
    karpenter.sh/nodepool: system-peeks
  tolerations:
    - key: "CriticalAddonsOnly"
      operator: "Exists"
      effect: "NoSchedule"

workflow:
  nodeSelector:
    karpenter.sh/nodepool: system-peeks
  tolerations:
    - key: "CriticalAddonsOnly"
      operator: "Exists"
      effect: "NoSchedule"
