{{- if .Values.externalSecret.enabled }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .Values.externalSecret.clusterName }}
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  secretStoreRef:
    kind: {{ .Values.externalSecret.secretStoreRefKind }}
    name: {{ .Values.externalSecret.secretStoreRefName }}
  refreshInterval: "1m"
  target:
    name: {{ include "fleet-secret.fullname" . }}
    creationPolicy: Owner
    template:
      engineVersion: v2
      templateFrom:
      - target: Annotations
        literal: "{{`{{ .metadata }}`}}"
      {{- if .Values.externalSecret.annotations }}
      - target: Annotations
        literal: |-
          {{- .Values.externalSecret.annotations  | toYaml | nindent 10  }}
      {{- end }}
      {{- if .Values.externalSecret.labels }}
      - target: Labels
        literal: |-
          {{- .Values.externalSecret.labels  | toYaml | nindent 10  }}
      {{- end }}
      - target: Labels
        literal: "{{`{{ .addons }}`}}"
      - target: Labels
        literal: "argocd.argoproj.io/secret-type: cluster"
      data:
        config: |
          {{`{{- $config := .config | fromJson -}}
          {{- $insecure := ($config.tlsClientConfig.insecure | toString | eq "true") -}}
          {{- $_ := set $config.tlsClientConfig "insecure" $insecure -}}
          {{ $config | toJson }}`}}
        name: {{ .Values.externalSecret.clusterName }}
        server: {{ if eq .Values.externalSecret.server "self" }}"https://kubernetes.default.svc"{{ else }}"{{`{{ .server }}`}}"{{ end }}
  dataFrom:
    - extract:
        key: {{ .Values.externalSecret.secretManagerSecretNamePrefix }}-{{ .Values.externalSecret.clusterName }}/config
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
{{- end }}
