# AWS configuration for IRSA integration
aws:
  irsaRoleArn: ""

# Provider configuration
providers:
  aws:
    enabled: true
    familyVersion: "v1.14.0"
    s3Version: "v1.14.0"
    dynamodbVersion: "v1.13.1"
    apigatewayv2Version: "v1.13.1"
    eksVersion: "v1.13.1"
    ec2Version: "v1.13.1"
    iamVersion: "v1.13.1"
    lambdaVersion: "v1.13.0"
    rdsVersion: "v1.13.1"
    runtimeConfigRef: "aws-irsa-drc"
    # Default resources for all providers
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 512Mi

compositions:
  enabled: true

namespace: crossplane-system
