# values for the addon
tolerations:
- key: "CriticalAddonsOnly"
  operator: "Exists"

resources:
  requests:
    cpu: 100m
    memory: 200Mi
  limits:
    memory: 500Mi

priorityClassName: system-cluster-critical
