# ClusterSecretStore for AWS Secrets Manager - Dev Environment
clusterSecretStore:
  create: true
  name: aws-secrets-manager
  spec:
    provider:
      aws:
        service: SecretsManager
        region: us-west-2
        auth:
          jwt:
            serviceAccountRef:
              name: external-secrets-sa
              namespace: external-secrets
